<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col class="storeContainer">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-item>
      <ion-label position="floating">Search...</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      class="ion-align-items-center"
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      <app-action-element [imgSrc]="'https://images-na.ssl-images-amazon.com/images/I/81SiAXigphL._SL1500_.jpg'" [title]="'Estompe'" [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '" [deliveryDate]="'22/01/2020'" [deliveryCost]="'3.45$'" [productCost]="'15.44$'"></app-action-element>
      <app-action-element [imgSrc]="'https://images-na.ssl-images-amazon.com/images/I/81SiAXigphL._SL1500_.jpg'" [title]="'Crayons'" [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '" [deliveryDate]="'22/01/2020'" [deliveryCost]="'3.45$'" [productCost]="'15.44$'"></app-action-element>
      <app-action-element [imgSrc]="'https://images-na.ssl-images-amazon.com/images/I/81SiAXigphL._SL1500_.jpg'" [title]="'Gommes'" [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '" [deliveryDate]="'22/01/2020'" [deliveryCost]="'3.45$'" [productCost]="'15.44$'"></app-action-element>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-col>
</ion-content>
