<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="/assets/Kamui_logo_white.PNG"/>
        <h2>Welcome</h2>
        <p><b>Kamui</b> permet de mettre en relation les gens qui voyagent et les gens qui ont des colis à livrer aux même destinations.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/wannaSend.svg"/>
      <h2>Vous avez un colis à livrer?</h2>
      <p>Vous ouvrez l'application <b>Kamui</b> et vous allez dans <b>colis</b> et vous ajoutez les détails concernant votre colis, et vous serais connecté à une personne qui fais le trajet qui correspond à votre besoin. </p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/delivery-man.svg"/>
      <h2>Remetez votre colis au livreur!</h2>
      <p><b>Kamui</b> Vous fournira les coordonées de votre livreur et vous serez en mesure de le contacter et de vous mettre daccord sur le lieu de rencontre.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/takeWith.svg"/>
      <h2>Le livreur</h2>
      <p>Le livreur prendra le colis avec lui lors de son voyage.</p>
    </ion-slide>
    <ion-slide>
      <img src="/assets/delivery.svg"/>
      <h2>Livraison</h2>
      <p>Lorsque le livreur arrive il remettera le colis au destinataire.</p>
      <ion-button fill="clear" routerLink='/home'>Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
